{{!-- <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>{{>header}}</header>
      <li><h3 title="click here">{{name}}</h3></li>
    <ul>
      <li>1- <a href="https://handlebarsjs.com/guide/">{{place}}</a> </li>
      <li>2- <a href="https://handlebarsjs.com/guide/">{{place}}</a> </li>
      <li>3- <a href="https://handlebarsjs.com/guide/">{{place}}</a> </li>
    </ul>
    <footer>{{>footer}}</footer>
  </body>
</html> --}}


<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>{{>header}}</header>
    <div class="parent">
      <h3>{{name}}</h3>
      <ul>
        {{#each arr}}
          <li>
            ~
            <a title="click here" href={{url}}>{{place}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
    <footer>{{>footer}}</footer>
  </body>
</html>